@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Importer directement du github de l'auteur tu fais mieux ? */
@font-face {
  font-family: "ShrikhandGujarati";
  src: url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.eot");
  src: local("☺"), url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.woff2") format("woff2"), url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.woff") format("woff"), url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.otf") format("opentype");
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(105%) contrast(105%);
}

.title {
  font-family: "ShrikhandGujarati";
}

header {
  display: flex;
  flex-direction: column;
}

.top {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.top__logo {
  display: flex;
  background-color: white;
  padding: 20px 0px;
  position: relative;
}
.top__logo > a {
  text-decoration: none;
  color: black;
}
.top__logo .fa-arrow-left {
  position: absolute;
  left: 5%;
  top: 40%;
}
.top__gps {
  background-color: #eaeaea;
  padding: 20px 0px;
  gap: 5px;
  box-shadow: inset 0px 0px 7px -4px rgb(0, 0, 0);
}

footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 5% 0%;
}
footer > ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  color: white;
  gap: 15px;
  margin-left: 4%;
}
footer > ul > a {
  text-decoration: none;
  color: white;
}
footer > img {
  width: 25%;
  margin-left: 4%;
}

footer i {
  margin-right: 10px;
}

footer .fa-utensils {
  font-size: 15px;
}

footer .fa-handshake-angle {
  font-size: 11px;
}

@media screen and (min-width: 1024px) {
  footer {
    align-items: center;
    gap: 50px;
    padding: 2% 0%;
  }
  footer > ul {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-left: 0%;
  }
  footer > li {
    width: 25%;
  }
  footer > img {
    height: 50px;
  }
}
@keyframes show_loader {
  from {
    opacity: 100%;
  }
  to {
    opacity: 0%;
    visibility: hidden;
  }
}
@keyframes show_title {
  0% {
    transform: scale(1);
    transform: translateY(150px);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    transform: translateY(0px);
  }
}
@keyframes show_logo {
  0% {
    transform: scale(1);
    transform: translateY(-150px);
  }
  25% {
    transform: scale(1.25);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
    transform: translateY(0px);
  }
}
@keyframes show_all_freestyle {
  from {
    transform: rotate(345deg);
  }
  to {
    transform: rotate(375deg);
  }
}
@keyframes show_truck_freestyle {
  from {
    transform: translate(-13vh, 2vh) rotate(345deg);
    opacity: 100%;
  }
  to {
    transform: translate(13vh, 2vh) rotate(375deg);
  }
}
@keyframes show_content_freestyle {
  from {
    transform: translate(-12vh, -8vh) rotate(345deg);
    opacity: 100%;
  }
  to {
    transform: translate(14vh, -9vh) rotate(375deg);
  }
}
@keyframes show_checkbox {
  from {
    width: 0;
  }
  to {
    width: 50px;
  }
}
@keyframes show_checkbox_icon {
  from {
    transform: rotate(0deg);
    opacity: 0;
  }
  to {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@keyframes show_cards {
  from {
    opacity: 0%;
    transform: translateX(-30px);
  }
  to {
    opacity: 100%;
    transform: translateX(0px);
  }
}
@keyframes hearth {
  from {
    opacity: 0%;
    transform: scale(0);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}
.btn {
  border-radius: 30px;
  border: none;
  padding: 15px;
  color: white;
  background: linear-gradient(180deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  font-size: 15px;
  font-weight: bold;
}
.btn__menu {
  padding: 15px 40px;
  opacity: 0;
}
.btn:hover {
  background: linear-gradient(180deg, #ff93e1 0%, #a16be0 100%);
  transform: scale(1.05);
  transition-property: transform;
  transition-duration: 200ms;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgb(147, 86, 220);
  background: linear-gradient(180deg, rgb(147, 86, 220) 12%, rgb(255, 121, 218) 91%);
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 100%;
  animation: show_loader 2s forwards;
  animation-delay: 1s;
}
.loader__logo {
  color: white;
  transform: scale(0);
  animation: show_logo 2000ms;
}
.loader__text {
  color: white;
  font-size: 20px;
  transform: scale(0);
  animation: show_title 2000ms;
}
.loader__animations__camion .fa-truck {
  color: white;
  font-size: 100px;
  transform: translate(-13vh, 2vh);
  animation: show_truck_freestyle 2000ms;
}
.loader__animations__content .fa-bowl-food {
  color: #99E2D0;
  font-size: 50px;
  transform: translate(-12vh, -8vh);
  animation: show_content_freestyle 2000ms;
}

.exploration {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 5% 0% 10% 0%;
  gap: 20px;
}

.exploration > h1 {
  text-align: center;
  font-weight: bold;
  width: 80%;
}

.exploration > p {
  text-align: center;
  width: 80%;
}

.step {
  display: flex;
  flex-direction: column;
  margin: 2%;
  gap: 30px;
  padding: 10% 0%;
}
.step__precard {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  list-style-type: none;
  gap: 20px;
}
.step > h1 {
  margin-left: 5%;
  font-weight: bold;
}

.step__precard > li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  position: relative;
}
.step__precard > li > div {
  display: flex;
  justify-content: center;
  border: none;
  background-color: #f5f5f5;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
  gap: 20px;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.5);
}
.step__precard > li > div i {
  color: grey;
}
.step__precard > li div:hover {
  background-color: #f2eafb;
}
.step__precard > li div:hover .fa-solid {
  color: #9356DC;
}
.step__precard > li > span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: white;
  position: relative;
  padding: 2px;
  left: 10px;
  bottom: -20px;
  height: 20px;
  width: 20px;
  border-radius: 50px;
}

.restaurants {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  gap: 20px;
  padding: 30px 0px;
}
.restaurants__title {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
.restaurants__precard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.restaurants__card {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  height: 250px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 0px 0px 19px -3px rgba(0, 0, 0, 0.1);
}
.restaurants__card:hover {
  transform: scale(1.05) 200ms;
  transition-property: transform;
  transition-duration: 200ms;
}
.restaurants__card__img {
  border-radius: 10px;
  height: 75%;
}
.restaurants__card__img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.restaurants__card__img > span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 15px;
  top: 15px;
  width: 75px;
  height: 30px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #018766;
}
.restaurants__card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 25%;
  position: relative;
  gap: 5px;
  margin-left: 10px;
}
.restaurants__card__bottom__icon {
  display: flex;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 20px;
  font-size: 20px;
}
.restaurants__card__bottom__icon:hover .fa-regular, .restaurants__card__bottom__icon .fa-solid {
  display: none;
}
.restaurants__card__bottom__icon:hover .fa-solid {
  display: inline;
  background: rgb(147, 86, 220);
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: hearth 500ms forwards;
}
.restaurants__card__bottom > h3 {
  font-weight: bold;
}
.restaurants__card__bottom > h4 {
  font-size: 15px;
}

@media screen and (min-width: 768px) {
  .restaurants__precard {
    flex-flow: row wrap;
    gap: 50px;
    justify-content: center;
  }
  .restaurants__card {
    width: 40%;
  }
}
@media screen and (min-width: 1024px) {
  .exploration {
    padding: 5% 0% 5% 0%;
  }
  .step {
    padding: 0% 0%;
  }
  .step__precard {
    flex-direction: row;
  }
  .step__precard > li {
    width: 30%;
  }
  .restaurants__precard {
    flex-flow: row;
    justify-content: space-around;
    margin: 0% 2%;
  }
  .restaurants__title {
    margin-left: 2%;
  }
}
.box__show1 {
  animation: show_cards 1000ms forwards;
  animation-delay: 0.4s;
}

.box__show2 {
  animation: show_cards 1000ms forwards;
  animation-delay: 0.8s;
}

.box__show3 {
  animation: show_cards 1000ms forwards;
  animation-delay: 1.2s;
}

.articles__show1 {
  animation: show_cards 1000ms forwards;
  animation-delay: 0.2s;
}

.articles__show2 {
  animation: show_cards 1000ms forwards;
  animation-delay: 0.4s;
}

.articles__show3 {
  animation: show_cards 1000ms forwards;
  animation-delay: 0.6s;
}

.articles__show4 {
  animation: show_cards 1000ms forwards;
  animation-delay: 0.8s;
}

.articles__show5 {
  animation: show_cards 1000ms forwards;
  animation-delay: 1s;
}

.articles__show6 {
  animation: show_cards 1000ms forwards;
  animation-delay: 1.2s;
}

.articles__show7 {
  animation: show_cards 1000ms forwards;
  animation-delay: 1.4s;
}

.articles__show8 {
  animation: show_cards 1000ms forwards;
  animation-delay: 1.6s;
}

.articles__show9 {
  animation: show_cards 1000ms forwards;
  animation-delay: 1.8s;
}

.articles__show10 {
  animation: show_cards 1000ms forwards;
  animation-delay: 2s;
}

.articles__show11 {
  animation: show_cards 1000ms forwards;
  animation-delay: 2.2s;
}

.menu__top {
  height: 250px;
  width: 100%;
}
.menu__top > img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #f5f5f5;
}
.menu__title {
  display: flex;
  align-items: center;
  position: relative;
  padding: 5% 5% 0% 5%;
  top: -20px;
  border-radius: 35px 35px 0px 0px;
  background-color: #f5f5f5;
}
.menu__title__icon {
  display: flex;
  position: absolute;
  height: 20px;
  width: 20px;
  right: 20px;
  font-size: 20px;
}
.menu__title__icon:hover .fa-regular, .menu__title__icon .fa-solid {
  display: none;
}
.menu__title__icon:hover .fa-solid {
  display: inline;
  background: rgb(147, 86, 220);
  background: linear-gradient(180deg, rgb(147, 86, 220) 0%, rgb(255, 121, 218) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.9s;
}
.menu__box {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 5% 5%;
  opacity: 0;
}
.menu__box__articles {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.07);
  box-shadow: 5px 5px 18px 0px rgba(0, 0, 0, 0.07);
  opacity: 0;
}
.menu__box__articles:hover .menu__box__articles__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  color: white;
  background-color: #99E2D0;
  border-radius: 0px 10px 10px 0px;
  animation: show_checkbox 1000ms forwards;
  cursor: pointer;
}
.menu__box__articles:hover .fa-circle-check {
  animation: show_checkbox_icon 1000ms;
}
.menu__box__articles__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15px;
  gap: 5px;
  width: 50%;
  flex-grow: 1;
}
.menu__box__articles__title > h3 {
  font-size: 14px;
  font-weight: bold;
}
.menu__box__articles__title > h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
}
.menu__box__articles__price {
  display: flex;
  align-items: flex-end;
  width: 50px;
  justify-content: flex-end;
  font-weight: bold;
  margin: 0% 4% 10px 0%;
  font-size: 14px;
}
.menu__box__articles__checkbox {
  display: none;
  width: 0;
}
.menu h2 {
  text-transform: uppercase;
}
.menu h2::after {
  display: flex;
  content: "";
  border-bottom: 3px solid #99E2D0;
  width: 55px;
  margin-top: 5px;
}
.menu__button {
  display: flex;
  margin: 10% 0%;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .menu__box {
    margin: 2% 5%;
  }
  .menu__button {
    margin: 5% 0%;
  }
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 100%;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0;
  }
  .menu__title {
    width: 100%;
    top: -30px;
    padding: 2% 0% 0% 8%;
    gap: 20px;
  }
  .menu__title__icon {
    position: static;
  }
  .menu__box {
    width: 25%;
    margin: 2%;
  }
  .menu__button {
    width: 100%;
    margin: 2% 0%;
  }
}

/*# sourceMappingURL=main.css.map */
