@keyframes show_loader{
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes show_title {
    0% {
        transform: scale(1);
        transform: translateY(150px);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes show_logo {
    0% {
        transform: scale(1);
        transform: translateY(-150px);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes show_all_freestyle {
    from {
        transform: rotate(345deg);
    }
    to {
        transform: rotate(375deg);
    }
}

@keyframes show_truck_freestyle {
    from {
        transform: translate(-13vh, 2vh) rotate(345deg);
        opacity: 100%;
    }
    to {
        transform: translate(13vh, 2vh) rotate(375deg);
    }
}

@keyframes show_content_freestyle {
    from {
        transform: translate(-12vh,-8vh) rotate(345deg);
        opacity: 100%;
    }
    to {
        transform: translate(14vh,-9vh) rotate(375deg);
    }
}

@keyframes show_checkbox {
    from {
        width: 0;
    }
    to {
        width: 50px;
    }
}
@keyframes show_checkbox_icon {
    from {
        transform: rotate(0deg);
        opacity: 0;
    }
    to {
        transform: rotate(360deg);
        opacity: 1;
    }
}

@keyframes show_cards {
    from {
        opacity: 0%;
        transform: translateX(-30px);
    }
    to {
        opacity: 100%;
        transform: translateX(0px);
    }
}

