@keyframes show_loader{
    from {
        opacity: 100%;
    }
    to {
        opacity: 0%;
        visibility: hidden;
    }
}

@keyframes show_title {
    0% {
        transform: scale(1);
        transform: translateY(150px);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes show_logo {
    0% {
        transform: scale(1);
        transform: translateY(-150px);
    }
    25% {
        transform: scale(1.25);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
        transform: translateY(0px);
    }
}

@keyframes show_truck_freestyle {
    from {
        transform: translate(-13vh, 2vh);
    }
    to {
        transform: translate(13vh, 2vh);
    }
}

@keyframes show_content_freestyle {
    from {
        transform: translate(-12vh,-8vh);
    }
    to {
        transform: translate(14vh,-8vh);
    }
}