@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Importer directement du github de l'auteur tu fais mieux ? */

@font-face {
    font-family: "ShrikhandGujarati";
    src: url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.eot");
    src: local("☺"),
      url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.woff2") format("woff2"),
      url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.woff") format("woff"),
      url("https://raw.githubusercontent.com/jonpinhorn/shrikhand/gh-pages/stylesheets/type/ShrikhandGujarati-Regular.otf") format("opentype");
}

body {
font-family: 'Roboto', sans-serif;
font-weight: normal;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

h6 {
  font-size: 10px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(103deg) brightness(105%) contrast(105%);
}

.title {
  font-family: 'ShrikhandGujarati', sans-serif;
}