footer {
    background-color: #353535;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 5% 0%;
    > ul {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        color: white;
        gap: 15px;
        margin-left: 4%;
        > a {
            text-decoration: none;
            color: white;
        }
    }
    > img {
        width: 25%;
        margin-left: 4%;
    }
}

footer i {
    margin-right: 10px;
}

footer .fa-utensils {
    font-size: 15px;
}

footer .fa-handshake-angle {
    font-size: 11px;
}

