header {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    &__logo {
        display: flex;
        background-color: white;
        padding: 20px 0px;
        position: relative;
        > a {
            text-decoration: none;
            color: black;
        }
        .fa-arrow-left {
            position: absolute;
            left: 5%;
            top: 40%;
        }
    }
    &__gps {
        background-color: #eaeaea;
        padding: 20px 0px;
        gap: 5px;
        box-shadow: inset 0px 0px 7px -4px rgba(0,0,0,1);
    }
}