header {
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    &__logo {
        background-color: white;
        padding: 20px 0px;
    }
    &__gps {
        background-color: #eaeaea;
        padding: 20px 0px;
        gap: 5px;
    }
}