$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-accent: #99E2D0;


.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 5% 0% 10% 0%;
    &__btn {
        border-radius: 30px;
        border : none;
        padding: 20px;
        color: white;
        background-color: $color-primary;
        font-size: 15px;
    }
}

.exploration > h1 {
    text-align: center;
    width: 80%;
}

.exploration > p {
    text-align: center;
    width: 80%;
}

.step {
    display: flex;
    flex-direction: column;
    &__precard {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
    }
}

.step__precard > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    > div {
        display: flex;
        align-items: center;
        border: none;
        background-color: #f5f5f5;
        border-radius: 20px;
        padding: 10px 10px;
    }
    > span {
        display: flex;
        align-items: center;
        border-radius: 50px;
        background-color: #9356DC;
    }
}

