@use "../utils/colors" as *;

.loader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgb(147,86,220);
    background: linear-gradient(180deg, rgba(147,86,220,1) 12%, rgba(255,121,218,1) 91%);
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 100%;
    animation: show_loader 2s forwards;
    animation-delay: 1s;
    &__logo {
        color: white;
        transform: scale(0);
        animation: show_logo 2000ms;
    }
    &__text {
        color: white;
        font-size: 20px;
        transform: scale(0);
        animation: show_title 2000ms;
    }
    &__animations {
    &__camion .fa-truck{
        color: white;
        font-size: 100px;
        transform: translate(-13vh, 2vh);
        animation: show_truck_freestyle 2000ms;
    } 
    &__content .fa-bowl-food{
        color: map-get($colors, color-accent);
        font-size: 50px;
        transform: translate(-12vh,-8vh);
        animation: show_content_freestyle 2000ms;
    }      
    }
}

.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($colors, color-background_1);
    padding: 5% 0% 10% 0%;
    gap: 20px;
}

.exploration > h1 {
    text-align: center;
    font-weight: bold;
    width: 80%;
}

.exploration > p {
    text-align: center;
    width: 80%;
}

.step {
    display: flex;
    flex-direction: column;
    margin: 2%;
    gap: 30px;
    padding: 10% 0%;
    &__precard {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        list-style-type: none;
        gap: 20px;
    }
    > h1 {
        margin-left: 5%;
        font-weight: bold;
    }
}

.step__precard > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    position: relative;
    > div {
        display: flex;
        justify-content: center;
        border: none;
        background-color: map-get($colors, color-background_1);
        border-radius: 20px;
        padding: 25px;
        width: 80%;
        gap: 20px;
        box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.5);
        i {
            color: grey;
            min-width: 10%;
            display: flex;
            justify-content: flex-end;
        }
        h3 {
            flex-grow: 1;
            max-width: 90%;
        }
    }
    div:hover {
        background-color: lighten(#9356DC, 35%);
    }
    div:hover .fa-solid {
        color: #9356DC;
    }
    > span {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: map-get($colors, color-primary);
        color: white;
        position: relative;
        padding: 2px;
        left: 10px;
        bottom: -20px;
        height: 20px;
        width: 20px;
        border-radius: 50px;
    } 
}

.restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: map-get($colors, color-background_1);
    gap: 20px;
    padding: 30px 0px;
    &__title {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
    }
    &__precard {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    &__card {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        height: 250px;
        border-radius: 15px;
        background-color: white;
        box-shadow: 0px 0px 19px -3px rgba(0,0,0,0.1);
        &:hover {
            transform: scale(1.05);
            transition-property: transform;
            transition-duration: 200ms;
        }
        &__img {
            border-radius: 10px;
            height: 75%;
            > img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px 10px 0px 0px;
            }
            > span {
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                right: 15px;
                top: 15px;
                width: 75px;
                height: 30px;
                border-radius: 2px;
                background-color : map-get($colors, color-accent);
                color: #018766;
            }   
        }
        &__bottom {
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 25%;
            position: relative;
            gap: 5px;
            margin-left: 10px;
            &__icon {
                display: flex;
                position: absolute;
                height: 20px;
                width: 20px;
                right: 20px;
                font-size: 20px;
            }
            &__icon:hover .fa-regular,
            &__icon .fa-solid {
                display: none;
            }

            &__icon:hover .fa-solid {
                display: inline;
                background: rgb(147,86,220);
                background: linear-gradient(180deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                animation: hearth 500ms forwards;
                cursor: pointer;
            }

            > h3 {
                font-weight: bold;
            }

            > h4 {
                font-size: 15px;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .restaurants {
        &__precard {
            flex-flow: row wrap;
            gap: 50px;
            justify-content: center;
        }
        &__card {
            width: 40%;
        }
    }
}

@media screen and (min-width: 1024px) {

    .exploration {
        padding: 5% 0% 5% 0%;
    }

    .step {
        padding: 0% 0%;
        &__precard {
            flex-direction: row;
            > li {
                width: 30%;
            }
        }
    }
        
    .restaurants {
        &__precard {
            flex-flow: row;
            justify-content: space-around;
            margin: 0% 2%;
        }
        &__title {
            margin-left: 2%;
        }
        &__card {
        }
    }
}
