@use "../utils/colors" as *;

.exploration {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: map-get($colors, color-background_1);
    padding: 5% 0% 10% 0%;
    gap: 20px;
    &__btn {
        border-radius: 30px;
        border : none;
        padding: 20px;
        color: white;
        background: rgb(255,121,218);
        background: linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);
        font-size: 15px;
    }
}

.exploration > h1 {
    text-align: center;
    font-weight: bold;
    width: 80%;
}

.exploration > p {
    text-align: center;
    width: 80%;
}

.step {
    display: flex;
    flex-direction: column;
    margin: 2%;
    &__precard {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
    }
}

.step__precard > li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    > div {
        display: flex;
        align-items: center;
        border: none;
        justify-content: space-around;
        background-color: map-get($colors, color-background_1);
        border-radius: 20px;
        padding: 10px 10px;
        width: 100%;
        > i {
            color: grey;
        }
        > i:hover {
            color: map-get($colors, color-primary);
        }
    }
    > div:hover {
        background-color: lighten(#9356DC, 35%);
    } 
}

.restaurants {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: map-get($colors, color-background_1);
    gap: 20px;
    margin: 2%;
    &__title {
        display: flex;
        flex-direction: column;
    }
}


